  
        <tr style="height:22px">
            <td><input type="checkbox" name="identificacao[enderecosSobrepor][]" value="<%=this.id%>"/></td>
            <td><%=this.endereco%></td>
            <td><%=this.dscCaracteristica%></td>
            <td><%=this.areaArmazenagem%></td>
            <td><%=this.estruturaArmazenagem%></td>
        </tr>
