<div <%=this%> class="blockData">
    
    <table>
        <tr class="actions">

            <td colspan="1" <%if(this.dataInativacao=='VOL. ATIVO'){%>
                <%='style="float:left; font-weight: bold;color:darkgreen"'%>
            <%} else {%>
                <%='style="float:left; font-weight: bold;color:red"'%>
            <%}%>
                <div style="float:right">
                    Data de Inativação:
                </div>
                <div>
                    <input id="ativarDesativar" value="<%=this.id%>" type="checkbox" name="volumes[<%=this.id%>][ativarDesativar]" class="ativarDesativar" <%=this.ativarDesativar%> />
                    <span style{float:left} id="dataInativacao" class="dataInativacao"><%=this.dataInativacao%></span>
                </div>
            </td>

            <td colspan="2" class="codSequencia">Sequência do Volume: <%=this.codigoSequencial%></td>
            <td colspan="3">
                <a href="javascript://" class="btnAction btn-editar-volume" title="Clique para Editar">
                    <img src="<%=URL_SISTEMA%>/img/icons/application_edit.png" /> Editar
                </a>
                <a href="javascript://" class="btnAction btn-excluir-volume" title="Clique para Excluir">
                    <img src="<%=URL_SISTEMA%>/img/icons/delete.png" /> Excluir
                </a>
            </td>
        </tr>
        <tr style="font-weight: bold">
            <td>Altura</td>
            <td>Largura</td>
            <td>Profundidade</td>
            <td>Cubagem</td>
            <td>Peso</td>
        </tr>
        <tr>
            <td><%=this.altura%></td>
            <td><%=this.largura%></td>
            <td><%=this.profundidade%></td>
            <td><%=this.cubagem%></td>
            <td><%=this.peso%></td>
        </tr>

        <tr style="font-weight: bold">
            <td colspan="2">Descrição</td>
            <td>Automático?</td>
            <td>Imprimir Etiqueta?</td>
        </tr>

        <tr>
            <td colspan="2"><%=this.descricao%></td>
            <td><%=this.lblCBInterno%></td>
            <td><%=this.lblImprimirCB%></td>
        </tr>

        <tr style="font-weight: bold">
            <td colspan="2">Cód. Barras</td>
            <td colspan="1">Endereço</td>
            <td colspan="1">P. Reposição</td>
            <td colspan="1">C. Picking</td>
        </tr>
        <tr>
            <td colspan="2" class="codigoBarrasExibicao"><%=this.codigoBarras%></td>
            <td colspan="1"><span class="endereco"><%=this.endereco%><span></td>
            <td colspan="1" class="pontoReposicao"><%=this.pontoReposicao%></td>
            <td colspan="1"><span class="capacidadePicking"><%=this.capacidadePicking%><span></td>
        </tr>


    </table>
    
    <input type="hidden" name="volumes[<%=this.id%>][acao]" value="<%=this.acao%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][codigoSequencial]" class="codigoSequencial" value="<%=this.codigoSequencial%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][idNormaPaletizacao]" class="idNormaPaletizacao" value="<%=this.idNormaPaletizacao%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][largura]" value="<%=this.largura%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][altura]" value="<%=this.altura%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][profundidade]" value="<%=this.profundidade%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][cubagem]" class="cubagem" value="<%=this.cubagem%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][peso]" class="peso" value="<%=this.peso%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][descricao]" value="<%=this.descricao%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][CBInterno]" class="CBInterno" value="<%=this.CBInterno%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][imprimirCB]" class="imprimirCB" value="<%=this.imprimirCB%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][codigoBarras]" class="codigoBarras" value="<%=this.codigoBarras%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][endereco]" class="endereco" value="<%=this.endereco%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][pontoReposicao]" class="pontoReposicao" value="<%=this.pontoReposicao%>"/>
    <input type="hidden" name="volumes[<%=this.id%>][capacidadePicking]" class="capacidadePicking" value="<%=this.capacidadePicking%>"/>
</div>